@import 'globals';

@include react-md-everything;

body {
  margin: 0;
}

.md-title--toolbar {
	margin-right: auto;
	margin-left: auto;
	font-size: 32px;
}

.fixedFooter {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
